<head>
    <title>Backup Appliance</title>
    <meta charset="utf-8">
    <link href="../base1/cockpit.css" type="text/css" rel="stylesheet">
    <script src="../base1/jquery.js"></script>
    <script src="../base1/cockpit.js"></script>
</head>
<body>
    <div class="container-fluid" style='max-width: 400px'>
        <table class="cockpit-form-table">
            <tr>
                <td><button class="btn btn-default btn-primary" id="Backup">Start Backup</button></td>
		<td><span id="result"></span></td>
            </tr>
        </table>
        <p>
	    <pre id="output"></pre>
        </p>
    </div>

    <script>
        var output = $("#output");
        var result = $("#result");

        $("#Backup").on("click", backup_run);

        function backup_run() {
            var proc = cockpit.spawn(["echo", "Initiating FrogOS Backup"]);
            proc.done(backup_success);
            proc.stream(backup_output);
            proc.fail(backup_fail);

            result.empty();
            output.empty();
        }

        function backup_success() {
            result.css("color", "green");
            result.text("success");
        }

        function backup_fail() {
            status.css("color", "red");
            status.text("fail");
        }

        function backup_output(data) {
            output.append(document.createTextNode(data));
        }
    </script>
</body>
</html>

